@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;

}

html {
    font-size: 10px;
}

ul, li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.board_wrap {
    width: 1000px;
    margin: 100px auto;
}

.board_title {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 30px;
    
    margin-top: 5px;
    margin-bottom: 10px;
    color:  #13547A;;
}

.board_title strong {
    font-size: 3rem;
}

.board_title p {
    margin-top: 5px;
    font-size: 1.4rem;
}

.bt_wrap {
    margin-top: 30px;
    text-align: center;
    font-size: 0;
}

.bt_wrap a {
    display: inline-block;
    min-width: 80px;
    margin-left: 10px;
    padding: 10px;
    border: 1px solid #000;
    border-radius: 2px;
    font-size: 1.4rem;
}

/*첫번째 버튼 왼쪽으로 안가게 */
.bt_wrap a:first-child {
    margin-left: 0;
}

.bt_wrap a.on {
    background: rgb(32, 9, 106);
    color: #fff;
    margin-left: 90%;
    height: 50%;
}

.board_list {
    width: 100%;
    border-top: 2px solid rgb(18, 2, 73);
}

.board_list > div {
    border-bottom: 1px solid #ddd;
    font-size: 0;
}

.board_list > div.top {
    border-bottom: 1px solid #999;
}

.board_list > div:last-child {
    border-bottom: 1px solid rgb(18, 2, 73);
}

.board_list > div > div {
    display: inline-block;
    padding: 15px 0;
    text-align: center;
    font-size: 1.4rem;
}

.board_list > div.top > div {
    font-weight: 600;
}

.board_list .num {
    width: 10%;
}

.board_list .title {
    width: 60%;
    text-align: center;
}

.board_list .top .title {
    text-align: center;
}

.board_list .writer {
    width: 10%;
}

.board_list .date {
    width: 10%;
}

.board_list .develope {
    width: 10%;
}

.board_paging {
    margin-top: 50px;
    text-align: center;
    font-size: 0;
}

.board_list_wrap .paging {
    margin-top: 20px;
    text-align: center;
    font-size: 0;
}
.board_list_wrap .paging a {
    display: inline-block;
    margin-left: 10px;
    padding: 5px 10px;
    border-radius: 100px;
    font-size: 12px;
}
.board_list_wrap .paging a:first-child {
    margin-left: 0;
}

.board_list_wrap .paging a.bt {
    border: 1px solid #eee;
    background: #eee;
}

.board_list_wrap .paging a.num {
    border: 1px solid rgb(19,84,122);
    font-weight: 600;
    color: rgb(19,84,122);
}

.board_list_wrap .paging a.num.on {
    background: rgb(19,84,122);
    color: #fff;
}

.board_view {
    width: 100%;
    border-top: 2px solid #000;
}

.board_view .title {
    padding: 20px 15px;
    border-bottom: 1px #ddd;
    font-size: 2rem;
}

.board_view .info {
    padding: 1px;
    border-top: 1px solid #999;
    font-size: 0;
    
}

.board_view .info dl {
    position: relative;
    display: inline-block;
    padding: 0 20px;
}

.board_view .info dl:first-child {
    padding-left: 0;
}

.board_view .info dl::before {
    content: "";
    position: absolute;
    top: 1px;
    left: 0;
    display: block;
    width: 1px;
    height: 13px;
    background: #ddd;
}

.board_view .info dl:first-child::before {
    display: none;
}

.board_view .info dl dt,
.board_view .info dl dd {
    display: inline-block;
    font-size: 1.4rem;
}

.board_view .info dl dt {

}


.board_view .info dl dd {
    margin-left: 10px;
    color: #777;
}

.board_view .cont {
    padding: 15px;
    border-bottom: 1px solid #777;
    line-height: 220%;
    font-size: 1.4rem;
}

.comment p {
    padding: 10px;
    margin-top: 20px;
    font-size: medium;
}

.comment textarea {
    width: 100%;
    height: 100px;
    padding: 0 11px 1px 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    appearance: none;
    outline: 0;

}

#ment {
    margin-left: 95%;
    margin-top: 2%;
    margin-bottom: 10%;
    background: rgb(19,84,122);
    border: 1px solid rgb(19,84,122);
    color: #fff;
    width: 80px;
}

.comment_view {
    padding: 20px;
    border-top: 1px solid silver;
    line-height: 220%;
    font-size: 1.4rem;
    
}

span.writer{
    padding: 0px;
    line-height: 220%;
    font-size: 1.4rem;
}

span.text{
    
    margin-left: 5%;
    padding: 50px;
    line-height: 220%;
    font-size: 1.4rem;
}

/* 글작성 */

.board_write {
    border-top: 1px solid rgb(11, 9, 76);
    margin-bottom: 10%;
}

.board_write .title {
    padding: 15px;
}

select{
    
    position:relative;
    width: 90px;
    padding: .8em .5em;

    height: 40px;
    background-color: white;
    border-radius: 4px;
    color: #13547A;

    
    border: 1px solid #13547A ;
    
}

.board_write .title dl {
    font-size: 0;
}

.board_write .info dl {
    display: inline-block;
    width: 50%;
    vertical-align: middle;
}

.board_write .title dt,
.board_write .title dd {
    display: inline-block;
    vertical-align: middle;
    font-size: 1.4rem;
}

.board_write .title dt{
    width: 100px;
}

.board_write .title dd {
    width: calc(100% - 100px);
}

.board_write .title input[type="text"] {
    padding: 10px;
    box-sizing: border-box;
    width: 75%;
    border: #ddd solid 1px;
    border-radius: 4px;
    height: 40px;
    margin-left: 12px;
}



.board_write .cont textarea {
    display: block;
    width: 100%;
    height: 300px;
    padding: 20px;
    box-sizing: border-box;
    border: 0;
    resize: vertical;

    border: 1px solid #ddd;
    border-radius: 4px;
}




.bt_wrap {
    margin-top: 30px;
    text-align: center;
    font-size: 0;
}

.bt_wrap a {
    display: inline-block;
    min-width: 80px;
    margin-left: 10px;
    padding: 10px;
    border: 1px solid #000;
    border-radius: 2px;
    font-size: 1.4rem;
}

/*첫번째 버튼 왼쪽으로 안가게 */
.bt_wrap a:first-child {
    margin-left: 0;
}

.bt_wrap a.on {
    background: rgb(19,84,122);
    color: #fff;
    margin-left: 100%;    
    
}



/*파일 업로드 버튼*/
.input-file-button{
    margin-top: 10px;
    font-size: 13px;
    padding: 6px 25px;
    background-color: white;
    border-radius: 4px;
    color: #13547A;
    cursor: pointer;
    border: 1px solid #13547A ;
    float: right;
    top: -80px;
}

#input-file{
    display: none;
}

/*파일 업로드 버튼 끝*/

.bt_wrap .on {
    /*    background: rgb(19,84,122);
        color: #fff;
        margin-left: 100%;
    */
    width: 150px;
    margin-left: 10px;
    padding: 10px;
    
    text-align: center;
    height: 48px;
    background-color: rgb(19,84,122);
    color: white;
    font-size: 16px;
    font-weight: 600;
    border: 1px solid rgb(19,84,122);
    font-family: 'Noto Sans KR', sans-serif;
    border-radius: 4%;
    
        
    }


/*언어 선택하는거 */
#stackSltHide{
    float: right;
    
}

#stackSlt{
    width: 120px;
    height: 40px;
        
	font-family: 'Noto Sans KR', sans-serif;
    font-size: 12px;
}
/*언어 선택하는거 끝 */


/*등록 뒤로 버튼 호버 */
.bt_wrap>.on:hover{
    cursor: pointer;
}