@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700&display=swap');


* {
	font-family: 'HallymGothic-Regular';
    margin: 0;
    padding: 0;
}

html {
    font-size: 10px;
}

ul, li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.board_wrap {
    width: 1000px;
    margin: 100px auto;
}

.board_title {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 30px;
    
    margin-top: 5px;
    margin-bottom: 10px;
    color:  #13547A;;
}

.board_title strong {
    font-size: 3rem;
}

.board_title p {
    margin-top: 5px;
    font-size: 1.4rem;
}

.bt_wrap {
    margin-top: 30px;
    text-align: center;
    font-size: 0;
}

.bt_wrap a {
    display: inline-block;
    min-width: 80px;
    margin-left: 10px;
    padding: 10px;
    border: 1px solid #000;
    border-radius: 2px;
    font-size: 1.4rem;
}

/*첫번째 버튼 왼쪽으로 안가게 */
.bt_wrap a:first-child {
    
    margin-left: 0;
}

.bt_wrap a.on {
    background: rgb(32, 9, 106);
    color: #fff;
    margin-left: 90%;
}


.comment p {
    padding: 10px;
    margin-top: 20px;
    font-size: medium;
}

.comment textarea {
    width: 100%;
    height: 100px;
    padding: 0 11px 1px 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    appearance: none;
    outline: 0;

}

#ment {
    margin-left: 95%;
    margin-top: 2%;
    margin-bottom: 10%;
    background: rgb(19,84,122);
    border: 1px solid rgb(19,84,122);
    color: #fff;
    width: 80px;
}

.comment_view {
    padding: 20px;
    border-top: 1px solid silver;
    line-height: 220%;
    font-size: 1.4rem;
    
}

span.writer{
    padding: 0px;
    line-height: 220%;
    font-size: 1.4rem;
}

span.text{
    
    margin-left: 5%;
    padding: 50px;
    line-height: 220%;
    font-size: 1.4rem;
}

/* 글작성 */

.board_write {
    border-top: 1px solid rgb(11, 9, 76);
    width: 994px;
    margin-bottom: 10%;
}

.board_write .title {
    padding: 15px;
}

select{
    width: 90px;
    padding: .8em .5em;
    border: 0.5px solid silver;
    border-radius: 0px;
    
    }

.board_write .title dl {
    font-size: 0;
}

.board_write .info dl {
    display: inline-block;
    width: 50%;
    vertical-align: middle;
}

.board_write .title dt,
.board_write .title dd {
    display: inline-block;
    vertical-align: middle;
    font-size: 1.4rem;
}

.board_write #con_title dt{
    width: 100px;
}

.board_write #con_title dd {
    width: calc(100% - 100px);
}

.board_write #con_title input[type="text"] {
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 4px;
	font-size: 18px;
    margin-left: 10px;
    width: 90%;
    position: relative;
    left: 100px;
    top: -32px;
    height: 50px;
}




/*제목input칸 폭 넓히는거*/
#con_title> input[type=text]{
    width: 80%;
    position: relative;
    float: left;
    margin-left: 10%;
}

/*언어 select 선택*/
#html select{
background-color: white;
    border-radius: 4px;
    color: #13547A;
    cursor: pointer;
    border: 1px solid #13547A;
    width: 115px;
    position: relative;
    float: left;
    font-size: 15px;
    top: 17px;
    left: -9px;
    text-align: center;
}


.board_write .cont {
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
}

/* .board_write .cont textarea {
    display: block;
    width: 100%;
    height: 300px;
    padding: 20px;
    box-sizing: border-box;
    border: 0;
    resize: vertical;
} */




.bt_wrap {
    margin-top: 30px;
    text-align: center;
    font-size: 0;
    margin-bottom: 100px;
}

.bt_wrap a {
    display: inline-block;
    min-width: 80px;
    margin-left: 10px;
    padding: 10px;
    border: 1px solid #000;
    border-radius: 2px;
    font-size: 1.4rem;

    
}

/*첫번째 버튼 왼쪽으로 안가게 */
.bt_wrap a:first-child {
    margin-left: 0;
}

div>.on {
/*    background: rgb(19,84,122);
    color: #fff;
    margin-left: 100%;
*/
width: 185px;
margin-left: 279px;
padding: 10px;
margin-top: 42px;
text-align: center;
height: 48px;

background-color: #3A4CA8;
color: white;
font-size: 16px;
font-weight: 600;
border: 1px solid #3A4CA8;
font-family: 'Noto Sans KR', sans-serif;
border-radius: 4%;

    
}

div>.back {
/*    background: rgb(19,84,122);
    color: #fff;
    margin-left: 100%;
*/
width: 185px;
margin-left: 549px;
padding: 10px;

text-align: center;
height: 48px;
background-color: #3A4CA8;
position: relative;
top: -48px;
color: white;
font-size: 16px;
font-weight: 600;
border: 1px solid #3A4CA8;
font-family: 'Noto Sans KR', sans-serif;
border-radius: 4%;

    
}


/*에디터*/
div .container{
    margin: auto;
    width: 1000px;
    
}



/*작성페이지 제목 길이 늘리기*/



/*업로드 버튼*/
.input-file-button{
    margin-top: -2px;
    font-size: 13px;
    padding: 6px 25px;
    background-color: white;
    border-radius: 4px;
    color: #13547A;
    cursor: pointer;
    border: 1px solid #13547A ;
    float: right;
    top: 10px;
    position: relative;
    left: 180px;
}

#input-file{
    display: none;
}


body > div.board_wrap > div:nth-child(3) > div > div{
    width: 800px;

}

/*수정*/
.note-popover.popover {
    max-width: none;
    display: none;
}

.btn-group>.btn:first-child {
    margin-left: 0;
    width: 50px;
}

.btn-group-vertical>.btn, .btn-group>.btn {
    position: relative;
    float: left;
    width: 40px;
}

[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
    cursor: pointer;
}

.btn-group-sm>.btn, .btn-sm {
    padding: 5px 10px;
    font-size: 12px;
    border-radius: 3px;
    line-height: 1.5;
}

.btn {
	display: inline-block;
    font-weight: 400;
    margin-bottom: 0;
    white-space: nowrap;
    touch-action: manipulation;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    border: 1px solid transparent;
    background-image: none;
    user-select: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}


.note-popover .popover-content .dropdown-menu.note-check li a i, .panel-heading.note-toolbar .dropdown-menu.note-check li a i{
	color: black !important;
    visibility: inherit !important;
    
}

#footerid > div.board_wrap > div:nth-child(3) > div > div > div.note-editing-area{
	font-size: 15px;
}

.panel-heading.note-toolbar{
	margin: 2px !important;
}


#footerid > div.board_wrap > from > div:nth-child(2) > div > div{
	width: 795px;
}
#footerid > div.board_wrap > from > div:nth-child(2) > div > div > div.note-editing-area > div.note-editable.panel-body{
	font-size: 15px;
}

@font-face {
    font-family: 'HallymGothic-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2204@1.0/HallymGothic-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}
