<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iteat.domain.StudyBoardDAO">
	<select id="selectStudyBoard" resultType="com.iteat.domain.StudyBoard">
		select * from study order by study_seq
	</select>
</mapper>