<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iteat.domain.UserInfoDAO">

	<insert id="insertUif" parameterType="com.iteat.domain.UserInfo">
		insert into user_info values(#{uif_id},#{uif_pw},#{uif_nick},sysdate,1,#{uif_stack},#{uif_blog},#{uif_edu},#{uif_etc},'A')
	</insert>
	
	<select id="idCheck" parameterType="String" resultType="String">
		select uif_id from user_info where uif_id=#{uif_id}
	</select>
	
	<select id="nickCheck" parameterType="String" resultType="String">
		select uif_nick from user_info where uif_nick=#{uif_nick}
	</select>
	
	<select id="selectUif" resultType="com.iteat.domain.UserInfo" parameterType="com.iteat.domain.UserInfo">
		select uif_id,uif_pw from user_info where uif_id=#{uif_id} and uif_pw=#{uif_pw}
	</select>
	
	<update id="updateUif" parameterType="com.iteat.domain.UserInfo">
		update user_info set uif_pw=#{uif_pw},uif_nick=#{uif_nick},uif_stack=#{uif_stack},uif_blog=#{uif_blog},uif_edu=#{uif_edu},uif_etc=#{uif_etc} where uif_id=#{uif_id}
	</update>
</mapper>